<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxkplus.RandomInit.mapper.ActionLogMapper">
    <select id="selectMessage" resultType="com.lxkplus.RandomInit.model.entity.LogMessage">
        select id,
        action_id as `actionID`,
        step,
        `log_level`,
        `message`,
        insert_time
        from randominit.action_log
        where action_id = #{actionID}
        <if test="step != null">
            and step = #{step}
        </if>
        <if test="level == 'DEBUG'">
            and log_level in ('DEBUG', 'INFO', 'WARN')
        </if>
        <if test="level == 'INFO'">
            and log_level in ('INFO', 'WARN')
        </if>
        <if test="level == 'WARN'">
            and log_level = 'WARN'
        </if>
    </select>
</mapper>