<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lxkplus.RandomInit.mapper.TableExistMapper">
    <select id="getUserDatabase" resultType="com.lxkplus.RandomInit.model.MysqlSchema">
        select
        SCHEMA_NAME as `userSchemaName`
        from information_schema.SCHEMATA t
        where t.SCHEMA_NAME like concat('randomInit_temp_', #{actionID}, '_%')
        <if test="userSchemaName != null">
            and t.SCHEMA_NAME = #{userSchemaName}
        </if>
    </select>

    <select id="getTable" resultType="com.lxkplus.RandomInit.model.MysqlTable">
        select
        TABLE_SCHEMA as `userSchemaName`,
        TABLE_NAME as `tableName`,
        TABLE_TYPE as `tableType`
        from information_schema.TABLES t
        where t.TABLE_SCHEMA like concat('randomInit_temp_', #{actionID}, '_%')
        <if test="userSchemaName != null">
            and t.TABLE_SCHEMA = concat('randomInit_temp_', #{actionID}, '_', #{userSchemaName})
        </if>
        <if test="tableName != null">
            and t.TABLE_NAME = #{tableName}
        </if>
    </select>

    <select id="getColumn" resultType="com.lxkplus.RandomInit.model.MysqlColumn">
        select
        TABLE_SCHEMA as `userSchemaName`,
        TABLE_NAME as `tableName`,
        COLUMN_NAME as `columnName`,
        COLUMN_TYPE as `dataType`,
        COLUMN_KEY as `columnKey`,
        COLUMN_COMMENT as `comment`,
        COLUMN_DEFAULT as `columnDefault`,
        EXTRA as "extra"
        from information_schema.`COLUMNS` t
        where t.TABLE_SCHEMA like concat('randomInit_temp_', #{actionID}, '_%')
        <if test="userSchemaName != null">
            and t.TABLE_SCHEMA = concat('randomInit_temp_', #{actionID}, '_', #{userSchemaName})
        </if>
        <if test="tableName != null">
            and t.TABLE_NAME = #{tableName}
        </if>
        <if test="columnName != null">
            and t.COLUMN_NAME = #{columnName}
        </if>
    </select>

    <select id="getUserDatabaseCount" resultType="int">
        select
            count(*)
        from information_schema.SCHEMATA t
        where t.SCHEMA_NAME like concat('randomInit_temp_', #{actionID}, '_%')
        <if test="userSchemaName != null">
            and t.SCHEMA_NAME = concat('randomInit_temp_', #{actionID}, '_', #{userSchemaName})
        </if>
    </select>

    <select id="getTableCount" resultType="int">
        select
            count(*)
        from information_schema.TABLES t
        where t.TABLE_SCHEMA like concat('randomInit_temp_', #{actionID}, '_%')
        <if test="userSchemaName != null">
            and t.TABLE_SCHEMA = concat('randomInit_temp_', #{actionID}, '_', #{userSchemaName})
        </if>
        <if test="tableName != null">
            and t.TABLE_NAME = #{tableName}
        </if>
    </select>

    <select id="getColumnCount" resultType="int">
        select
            count(*)
        from information_schema.`COLUMNS` t
        where t.TABLE_SCHEMA like concat('randomInit_temp_', #{actionID}, '_%')
        <if test="userSchemaName != null">
            and t.TABLE_SCHEMA = concat('randomInit_temp_', #{actionID}, '_', #{userSchemaName})
        </if>
        <if test="tableName != null">
            and t.TABLE_NAME = #{tableName}
        </if>
        <if test="columnName != null">
            and t.COLUMN_NAME = #{columnName}
        </if>
    </select>

</mapper>